/* 전체 설정 START */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #f8f9fa;
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* 전체 설정 END */
