/* 메인 설정 START */
main {
  min-height: 100% !important;
}

.search-input {
  border-radius: 50px 0 0 50px !important;
}
.search-button {
  border-radius: 0 50px 50px 0 !important;
}

/* 메인 설정 END */

/* hidden 설정 */
.hidden {
  display: none;
}
