<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloController</display-name>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>com.ssafy.HelloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/HelloController</url-pattern>
  </servlet-mapping>
  <display-name>enjoy_trip</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PostController</display-name>
    <servlet-name>PostController</servlet-name>
    <servlet-class>com.ssafy.post.controller.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/PostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>com.ssafy.member.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttractionController</display-name>
    <servlet-name>AttractionController</servlet-name>
    <servlet-class>com.ssafy.attraction.controller.AttractionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttractionController</servlet-name>
    <url-pattern>/AttractionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripController</display-name>
    <servlet-name>TripController</servlet-name>
    <servlet-class>com.ssafy.trip.controller.TripController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripController</servlet-name>
    <url-pattern>/TripController</url-pattern>
  </servlet-mapping>
</web-app>